.DS_Store
android-app/my-release-key.jks
android-app/.idea/caches/build_file_checksums.ser
android-app/.idea/caches/gradle_models.ser
android-app/.idea/libraries
android-app/.gradle/
android-app/app/build
android-app/local.properties