
html{  height: 100%;
 }
  body {
    background: url(./assets/images/background.png) center center fixed;
    height: 100%;
  }
  .calendar-component{
    padding:4px!important;
  }
  /* .mat-list{margin: 0!important;
    padding: 0!important;} */
  .mat-card-title{
    color:white;
  }
  .mat-card-subtitle{
    color:white!important;

  }
  .mat-list-item{
    color:white!important;
    font-size: 14px!important;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  .mat-form-field{display: unset!important}
  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.iconalign{
  display: flex;align-items:center;margin-top: 8px;margin-bottom: 8px;
}
.mat-form-field{
  font-size: 18px!important;
}
.my-tooltip {
  background:#5147FF !important;
}
html,body,{height: 100%!important;}
.mat-tab-body-wrapper{
  height: 100%!important;
  /* min-height: 100%; */
  display: flex!important;
  flex-direction: column!important;
  text-align: -webkit-center!important;
  width: max-content!important;
  margin: auto!important;
}
.form-control {
  background-color:transparent!important;}