<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar [class.mat-elevation-z2]="false" [class.mat-elevation-z8]="true" color="primary" class="example-toolbar">
    <button mat-icon-button (click)="goToStore()">
      <mat-icon>home
      </mat-icon>
    </button>

    <h1>{{title}}</h1>
    <span class="spacer"></span>
  <button mat-button color="accent" (click)="logout()" >LOG OUT</button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" [class.mat-elevation-z2]="false" [class.mat-elevation-z8]="true" >

    </mat-sidenav>

    <mat-sidenav-content>
    	<div fxLayout="row" fxLayout.xs="column"  style="height: 100%;">
        <calendar-component [eventList]="this.tickets" fxFlex="100%;" fxFlex.xs="100%;" style="height:fit-content;margin:4px"></calendar-component>
        <app-events [eventList]="this.tickets" fxFlex="360px;" fxFlex.xs="100%;" ></app-events>
      </div>


    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

